* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ns-page {
  background: #fb6e9a;
  min-height: 95vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
}

.sign-logo-container {
  display: flex;
  position: absolute;
  top: 0;
  float: right;
}

.logo {
  position: absolute;
  max-width: 300px;
}

.active {
  transition: 1s ease;
  opacity: 1;
  left: 0;
  position: absolute;
}

.none {
  position: absolute;
  left: -3000px;
  opacity: 0;
  transition: 1s ease;
}
